.env
.env.*
!.env.example

# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
backend.hcl
crash.log
crash.*.log

bin/
*.test
coverage.out
node_modules/
dist/
.vscode/
.idea/
*.log
.DS_Store
